@font-face {
    font-family: 'Glory';
    src: url(../fonts/Glory-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Glory';
    src: url(../fonts/Glory-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

